#mainleft {
  margin: 3%;
  width: 100%;
  padding: 0%;
}

.card {
  width: 100%;
}

.text-dynamic {
  list-style-type: none;
  overflow: hidden;
  line-height: 25px;
  height: 35px;
  padding: 0%;
  text-align: center;
}

.text-item {
  position: relative;
  font-weight: 400;
  color: var(--yangColor);
  list-style: none;
  top: 0;
  animation: slide 5s steps(4) infinite;
  align-items: center;
  color: rgb(249, 167, 1);
}

@keyframes slide {
  100% {
    top: -120px;
  }
}

#iam-title {
  margin: 0;
  justify-content: center;
  color: var(--yangColor);
}

#dynamic-text {
  margin: 0;
  justify-content: center;
}
